
.about-me {
  text-align: center;
}
.back{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.my-name{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 4.5rem;
}
